{% extends 'admintemplates/adminbase.html' %}

{% block content %}

<div class="content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="card" class="form-control">
					<div class="card-header card-header-primary card-header-icon">
						<div class="card-icon">
							<i class="material-icons">assignment</i>
						</div>
						<div>
							<div >
								<h3>Add NewsSubCategory</h3>
									<form method="post" action="" >
										{% csrf_token %}

										{{form.as_p}}

										<input type="submit" value="Update">

									</form>
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>





{% endblock %}