  {% extends 'admintemplates/editorbase.html' %}
  {% load static %}
  {% block newslist %}
  nav-item active
  {% endblock %}

  {% block content %}
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-primary card-header-icon">
              <div class="card-icon">
                <i class="material-icons">assignment</i>
              </div>
              <a href="{% url 'newsapp:newsadd'%}" class="btn btn-link btn-warning btn-just-icon edit" style ='margin-left:87%; margin-top:30px; margin-right: 2px;'><i class="material-icons" style="font-size:50px;">add_box</i></a>
              <h4 class="card-title">News List</h4>
            </div>
            <div class="card-body">
              <div class="toolbar">
               <div>
                
               </div>
             </div>
             <div class="material-datatables">
              <table id="datatables" class="table table-hover" cellspacing="0"style="width:100%">
                <thead>
                  <tr style="text-align: center;background-color: #000000;color: #ffffff" class="table table-border">
                    <th>Sn.</th>
                    <th>Title</th>
                    <th>main_category</th>
                    <th>sub_category</th>
                    <th class="disabled-sorting">video_link</th>                   
                    <th class="disabled-sorting">image</th>
                    <th class="disabled-sorting">Actions</th>
                  </tr>
                </thead>
                <tbody>
                 {% for news in newslist %}
                 <tr style="text-align: center;background-color: #ffffff">
                  <td>{{forloop.counter}}</td>
                  <td><a href="{% url 'newsapp:newsdetail' news.pk %}"><U>{{news.title}}</U></a></td>
                  <td>{{news.main_category}}</td>
                  <td>{{news.sub_category}}</td>
                  <td>
                    {% if news.video_link %}
                      <a href="{{news.video_link}}">click for video</a>
                    {% else %}
                      ANONYMOUS
                    {% endif %}
                  </td>
                  <td>
                    {% if news.image %}
                    <img src="{{news.image.url}}" class="img-fluid" style="height: 80px">
                    {% else %}
                    No Image
                    {% endif %}
                  </td>
                  
                  <td>
                    <a href="{% url 'newsapp:newsupdate' news.pk %}" class="btn btn-lg btn-link btn-warning btn-just-icon edit"><i class="material-icons">dvr</i></a>
                    <a data-remote="{% url 'newsapp:newsdelete' news.pk %}" href="{% url 'newsapp:newsdelete' news.pk %}"class="btn btn-lg btn-link btn-danger btn-just-icon remove" data-toggle="modal" data-target="#myModal">
                      <i class="material-icons">close</i></a>
                    <a href="{% url 'newsapp:newsdetail' news.pk %}" class="btn btn-lg btn-link btn-warning btn-just-icon edit"><i class="material-icons">info</i></a>

                    <!-- The Modal -->
                    <!-- <div class="modal" id="myModal">
                      <div class="modal-dialog">
                        <div class="modal-content"> -->

                          <!-- Modal Header -->
                          <!-- <div class="modal-header">
                            <h4 class="modal-title">Are You Sure !! You Wanna Delete {{newscategories.title}}</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                          </div>
                           -->
                          
                          
                          <!-- Modal footer -->
                          <!-- <form action="{% url 'newsapp:newsdelete' news.pk %}" method="POST">
                           {% csrf_token %}
                           <button class="btn">Delete</button>
                         </form>
                         
                       </div>
                     </div>
                   </div> -->
               </td>
             </tr>
             {% endfor %}

           </tbody>
         </table>
       </div>
     </div>
     <!-- end content-->
   </div>
   <!--  end card  -->
 </div>
 <!-- end col-md-12 -->
</div>
<!-- end row -->
</div>
</div>

{% endblock %}